In [2]:
def hello():
    return 'Hello!'

In [3]:
hello()

'Hello!'

In [4]:
greet = hello

In [5]:
greet

In [6]:
greet()

'Hello!'

In [7]:
del hello

In [8]:
greet()

'Hello!'

In [9]:
# still keeps the properties even if original function was del

In [12]:
def hello(name='jose'):
    print('the hello() has been executed')
    
    def greet():
        return '\t this is the greet func'
    
# only created but not called and this func isn't a global def just a local that isnt saved

In [13]:
hello()

the hello() has been executed

In [14]:
def cool():
    
    def super_cool():
        return 'i am super kool!'
    
    return super_cool

In [15]:
some_func = cool()

In [16]:
some_func()

'i am super kool!'

In [17]:
def hello():
    return 'hi jose'
def other(some_def):
    print('other code runs here')
    print(some_def())

In [18]:
hello()

'hi jose'

In [20]:
other(hello)

other code runs here
hi jose

In [4]:
# Genorators
def create_cubes(n):
    for x in range(n):
        yield x**3

In [5]:
for x in create_cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [6]:
create_cubes(10)

In [7]:
list(create_cubes(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [8]:
def gen_fibon(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b, a+b

In [9]:
for number in gen_fibon(10):
    print(number)

1
1
2
3
5
8
13
21
34
55

In [10]:
# if done this way you'll need to hold on to all the memory which is not the best way to do it
def gen_fibon(n):
    a = 1
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a,b = b, a+b
    return output

In [11]:
for number in gen_fibon(10):
    print(number)

1
1
2
3
5
8
13
21
34
55

In [12]:
def simple_gen():
    for x in range(3):
        yield x

In [14]:
for number in simple_gen():
    print(number)

0
1
2

In [17]:
g = simple_gen()

In [18]:
g

In [19]:
print(next(g))

0

In [20]:
print(next(g))

1

In [21]:
print(next(g))

2

In [22]:
print(next(g))

StopIteration:

In [23]:
s = 'hello'

In [24]:
for letter in s:
    print(letter)

h
e
l
l
o

In [25]:
next(s)

TypeError: 'str' object is not an iterator

In [26]:
s_iter = iter(s)

In [27]:
next(s_iter)

'h'

In [28]:
def square(n):
    for i in range(n):
        yield i**2

In [29]:
for x in square(10):
    print(x)

0
1
4
9
16
25
36
49
64
81

In [30]:
import random

random.randint(1,10)

3

In [31]:
# making the random generator to take in the low and high as well as the input for the amount of times done
def ran_num(low,high,n):
    for i in range(n):
        yield random.randint(low,high)

In [32]:
# calling the for loop to run the function the n(number of times) and the parameters to use for the low and high
for num in ran_num(1,11,12):
    print(num)

5
7
2
5
6
9
3
7
4
8
6
11

In [33]:
s = 'paul'
s = iter(s)
print(next)

In [3]:
# practing with modules
from collections import Counter

In [4]:
mylist = [1,1,1,1,1,2,2,2,3,3,3,3,4,4,4,5,5,5,5,5]

In [5]:
# makes dict. of the items keys are the objects and counts are the values
Counter(mylist)

Counter({1: 5, 2: 3, 3: 4, 4: 3, 5: 5})

In [9]:
mylist = ['a','a',10,10,10]

In [10]:
Counter(mylist)

Counter({'a': 2, 10: 3})

In [12]:
Counter('aaaaaaaabbccdddddd')

Counter({'a': 8, 'b': 2, 'c': 2, 'd': 6})

In [13]:
sentence = 'how many times does this word happen to appear'

In [14]:
Counter(sentence)

Counter({'h': 3,
         'o': 4,
         'w': 2,
         ' ': 8,
         'm': 2,
         'a': 4,
         'n': 2,
         'y': 1,
         't': 3,
         'i': 2,
         'e': 4,
         's': 3,
         'd': 2,
         'r': 2,
         'p': 4})

In [16]:
c1 = Counter(sentence)

In [17]:
c1

Counter({'h': 3,
         'o': 4,
         'w': 2,
         ' ': 8,
         'm': 2,
         'a': 4,
         'n': 2,
         'y': 1,
         't': 3,
         'i': 2,
         'e': 4,
         's': 3,
         'd': 2,
         'r': 2,
         'p': 4})

In [19]:
c2 = Counter(sentence.split())
# can also use lower just to match all the words sentence.lower().split()

In [20]:
c2

Counter({'how': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'this': 1,
         'word': 1,
         'happen': 1,
         'to': 1,
         'appear': 1})

In [21]:
c1.most_common()

[(' ', 8),
 ('o', 4),
 ('a', 4),
 ('e', 4),
 ('p', 4),
 ('h', 3),
 ('t', 3),
 ('s', 3),
 ('w', 2),
 ('m', 2),
 ('n', 2),
 ('i', 2),
 ('d', 2),
 ('r', 2),
 ('y', 1)]

In [22]:
# most common in the () will give you top 2 etc.. (3) will give you top 3
c1.most_common(2)

[(' ', 8), ('o', 4)]

In [23]:
# make the counter object into a list
list(c1)

['h', 'o', 'w', ' ', 'm', 'a', 'n', 'y', 't', 'i', 'e', 's', 'd', 'r', 'p']

In [24]:
from collections import defaultdict

In [25]:
d = {'a':10}

In [26]:
d

{'a': 10}

In [27]:
d['a']

10

In [28]:
d['wrong']

KeyError: 'wrong'

In [29]:
d = defaultdict(lambda:0)

In [30]:
d['correct'] = 100

In [31]:
d

defaultdict(<function __main__.<lambda>()>, {'correct': 100})

In [32]:
d['correct']

100

In [33]:
d['wrong key']

0

In [34]:
mytuple = (10,20,30)

In [35]:
mytuple[0]

10

In [36]:
# named tuple
from collections import namedtuple

In [37]:
dog = namedtuple('Dog',['age','breed','name'])

In [38]:
sammy = dog(age=5,breed='Husky',name = 'Sam')

In [39]:
sammy

Dog(age=5, breed='Husky', name='Sam')

In [40]:
sammy.age

5

In [41]:
sammy.breed

'Husky'

In [42]:
sammy.name

'Sam'

In [43]:
sammy[0]

5

In [44]:
# instead of index we can assign names to find out the information

In [47]:
# files modules

In [48]:
pwd

'/Users/paulavalos/Desktop/Python'

In [49]:
f = open('practice.txt','w+')
f.write('This is a test string')
f.close()

In [50]:
import os

In [51]:
# get direcvtory where you are
os.getcwd()

'/Users/paulavalos/Desktop/Python'

In [53]:
# grabs all files in the directory
os.listdir()

['milestone 2.ipynb',
 'Black Jack Game Final with notes.ipynb',
 'After Milestone 2.ipynb',
 'Milestone 1.ipynb',
 'After milestone 1.ipynb',
 'practice.txt',
 'Starting Python.ipynb',
 'cfile.txt',
 'Black Jack Game.ipynb',
 'myexample.py',
 'myfile.txt',
 '.ipynb_checkpoints',
 'Follow along blackjack.ipynb',
 'simple.py',
 'testfile',
 'Flask Web App']

In [54]:
os.listdir('/Users')

['.localized', 'Shared', 'paulavalos']

In [56]:
import shutil
# move files in to different places

In [ ]:
shutil.move('practice.txt',(#place where you want to move it too)

In [1]:
import datetime

In [2]:
mytime = datetime.time(2,20)

In [3]:
mytime.hour

2

In [4]:
print(mytime)

02:20:00

In [6]:
mytime.microsecond

0

In [7]:
mytime = datetime.time(16,30,59,59)

In [8]:
print(mytime)

16:30:59.000059

In [11]:
mytime.microsecond

59

In [12]:
today = datetime.date.today()

In [13]:
print(today)

2021-08-12

In [14]:
today.year

2021

In [15]:
today.month

8

In [16]:
today.day

12

In [18]:
today.isoweekday()

4

In [19]:
today.ctime()

'Thu Aug 12 00:00:00 2021'

In [20]:
from datetime import datetime

In [22]:
mydatetime = datetime(2021,10,3,15,20,1)

In [23]:
print(mydatetime)

2021-10-03 15:20:01

In [ ]:
# doesnt happen in place need to have new var to dsave
mydatetime.replace(year=2025)

In [6]:
mylist = [1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3]

In [7]:
Counter(mylist)

Counter({1: 7, 2: 8, 3: 7})

In [8]:
mylist_counter = Counter(mylist)

In [9]:
mylist_counter

Counter({1: 7, 2: 8, 3: 7})

In [10]:
mylist1 = ['a','a','a',2,2,2,2,2,2]

In [11]:
mylist1_counter= Counter(mylist1)

In [12]:
mylist1_counter

Counter({'a': 3, 2: 6})

In [13]:
Counter('aaaaabbbccddeefffggggg')

Counter({'a': 5, 'b': 3, 'c': 2, 'd': 2, 'e': 2, 'f': 3, 'g': 5})

In [14]:
sentence = 'how many times does each word show up in this sentence'

In [16]:
s1 = Counter(sentence.split())

In [17]:
s1

Counter({'how': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'word': 1,
         'show': 1,
         'up': 1,
         'in': 1,
         'this': 1,
         'sentence': 1})

In [18]:
s1.most_common()

[('how', 1),
 ('many', 1),
 ('times', 1),
 ('does', 1),
 ('each', 1),
 ('word', 1),
 ('show', 1),
 ('up', 1),
 ('in', 1),
 ('this', 1),
 ('sentence', 1)]

In [22]:
print(s1.values)

<built-in method values of Counter object at 0x7fad38b5d9a0>

In [24]:
from collections import namedtuple

In [27]:
Dog = namedtuple('Dog',['age','breed','name'])

In [28]:
tammy = Dog(age=5,breed='Husky',name='pally')

In [29]:
tammy.breed

'Husky'

In [30]:
tammy.age

5

In [31]:
tammy.name

'pally'

In [35]:
tammy[0]

5

In [46]:
from datetime import date

In [37]:
date1 = date(2021,11,3)
date2 = date(2020,11,3)

In [39]:
result = date1 - date2

In [40]:
result.seconds

0

In [48]:
from datetime import datetime

In [41]:
result.days

365

In [49]:
datetime1 = datetime(2021,11,3,22,0)
datetime2 = datetime(2020,11,3,12,0)

In [50]:
newdate = datetime1 - datetime2

In [51]:
newdate.days

365

In [53]:
newdate.seconds

36000

In [55]:
newdate.total_seconds()

31572000.0

In [56]:
import math

In [57]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.8/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /opt/anaconda3/lib/python3.8/lib-dynload/math.cpython-38-darwin.so

In [58]:
value = 4.35

In [59]:
math.floor(value)

4

In [60]:
math.ceil(value)

5

In [61]:
round(4.35)

4

In [62]:
math.pi

3.141592653589793

In [63]:
import random

In [67]:
random.randint(0,100)

4

In [68]:
random.seed(101)

random.randint(0,100)

74

In [69]:
# all of these are random seeds so if i run it it will be all different if no seeds are used
random.seed(69)

random.randint(0,1000)

700

In [72]:
mylist = list(range(0,20))

In [73]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [75]:
random.choice(mylist)

3

In [76]:
# sample with replacement allowing a number to be picked more than once

random.choices(population = mylist,k = 10)

[16, 1, 6, 18, 17, 15, 10, 9, 8, 8]

In [78]:
# sample without replacement

random.sample(population = mylist, k = 10)

[16, 10, 17, 14, 4, 6, 19, 1, 13, 15]

In [79]:
# shuffle a list remeber it will shuffle it and save it dont have to save to new variable

random.shuffle(mylist)

In [80]:
mylist

[5, 7, 15, 2, 0, 17, 16, 13, 1, 3, 8, 14, 12, 10, 11, 18, 9, 19, 6, 4]

In [81]:
# errors in python
x = [1,2,3]
y = 2
z = 3

result = y + z
result1 = x + y

TypeError: can only concatenate list (not "int") to list

In [82]:
# set trace before the error line
import pdb
x = [1,2,3]
y = 2
z = 3

result1 = y + z

pdb.set_trace()

result2 = y + x

# press q to quit the debugger

--Return--
None
> <ipython-input-82-b26bfef90ad6>(9)<module>()
      7 result1 = y + z
      8
----> 9 pdb.set_trace()
     10
     11 result2 = y + x

ipdb> x
[1, 2, 3]
ipdb> y
2
ipdb> result1
5
ipdb> z
3
ipdb> q

BdbQuit:

In [89]:
text = 'the agents phone number is 210-900-6970, that is is new phone, phone'

In [90]:
'phone' in text

True

In [91]:
import re

In [92]:
pattern = 'phone'

In [93]:
re.search(pattern,text)

In [94]:
matches = re.findall('phone',text)

In [95]:
matches

['phone', 'phone', 'phone']

In [96]:
len(matches)

3

In [97]:
for match in re.finditer('phone',text):
    print(match)

<re.Match object; span=(11, 16), match='phone'>
<re.Match object; span=(56, 61), match='phone'>
<re.Match object; span=(63, 68), match='phone'>

In [100]:
# search that will look for them but only give you the object/location
phone = re.search('210-900-6970',text)

In [101]:
# matching with only the exact numbers
phone

In [102]:
# will find the match on any number thats is 3-3-4 difits
phone1 = re.search(r'\d\d\d-\d\d\d-\d\d\d\d',text)

In [104]:
# group method will get you the number 
phone1.group()

'210-900-6970'

In [105]:
# characters identifiers and Quantifiers look for the tables and remeber them good info
phone2 = re.search(r'\d{3}-\d{3}-\d{4}',text)

In [106]:
phone2.group()

'210-900-6970'

In [107]:
phone_patterns = re.compile(r'(\d{3})-(\d{3})-(\d{4})')

In [109]:
results = re.search(phone_patterns,text)

In [110]:
results

In [111]:
results.group()

'210-900-6970'

In [112]:
new_text = 'old phone is 210-345-5698, but my new number is 210-730-4353, lets see if it will catch this pin 3105'

In [113]:
results1 = re.search(phone_patterns,new_text)

In [114]:
results1.group()

'210-345-5698'

In [115]:
# group indexing starts at 1 not at zero like normal python code
results.group(1)

'210'

In [117]:
results1

In [122]:
# searches for the string cat in the string or varibale thats holds a string
# use this sign to search for both text | text
re.search(r'cat | dog','the cat is here along with the dogs going crazy')

In [123]:
re.findall(r'at','the cat in the at sat there')

['at', 'at', 'at']

In [124]:
# the . before the word will catch anything before the character or characters for more ....
re.findall(r'.at','the cat in the at sat there')

['cat', ' at', 'sat']

In [132]:
phrase = 'This is 587 a string with 4 numbers 3466 in it 12324096'

In [133]:
# this will seperate all the characters with out a number
pattern1 = r'[^\d]'

In [135]:
re.findall(pattern1,phrase)

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 ' ',
 'w',
 'i',
 't',
 'h',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 ' ',
 'i',
 'n',
 ' ',
 'i',
 't',
 ' ']

In [136]:
# this will seperate groups of things then the number but keep them together
pattern2 = r'[^\d]+'

In [137]:
re.findall(pattern2,phrase)

['This is ', ' a string with ', ' numbers ', ' in it ']