In [ ]:
# key short cuts for notebook
# shift return runs the line 
# esc A adds line above 
# esc B adds line below
# click outside line and hit DD to delete box
# high light all lines and hit ctrl and / to comment all

In [4]:
name = "paul"
print('Hello my name is ' + name)

Hello my name is paul

In [3]:
#slicing
name[0]
# grab number starting from 0
# -1 grabs from the back to the front

'p'

In [4]:
name[-1]

'l'

In [6]:
string ='abcdefgh'
string[2:]
#starts at 2nd place goes till the end

'cdefgh'

In [8]:
string[:3]
#starts from beginning but stops before the last number

'abc'

In [9]:
string[1:3]

'bc'

In [10]:
# [(Start):(End):(Step Size)]
string[::2]
#back wards lettering var[::-1]

'aceg'

In [14]:
#concatanate strings
paul = 'pablo'
lpaul = paul[2:]
lpaul
lpaul + ' is the last 3 letters'

'blo is the last 3 letters'

In [16]:
paul * 10

'pablopablopablopablopablopablopablopablopablopablo'

In [17]:
x = 'hello world'

In [20]:
x.upper()

'hello world'

In [21]:
x.lower()

'hello world'

In [22]:
x = x.split()

In [23]:
print(x)

['hello', 'world']

In [24]:
#string formatting
# print('hello this is {the insert}'.format('word you want inserted'))
print('The {} is {} and he is {}.'.format('dog','fat','ten'))

The dog is fat and he is ten.

In [3]:
# can also use indexing to pick variables
print('hello {1} my names {0} are you a {2} ?'.format('paul', 'david', 'male'))

hello david my names paul are you a male ?

In [6]:
#can use variables inside format to save them
print('hello {p} my name is {d}'.format(p='paul',d='david'))

hello paul my name is david

In [12]:
result = 100/777
result1 = 150/777
result2 = 250 /777
print(result)
print(result1)
print(result2)

0.1287001287001287
0.19305019305019305
0.32175032175032175

In [18]:
#float formatting to get better values 
# 1st is char is variable 
# 2nd is width how many zeros from start to make all match
# 3rd how many places from zero
print('the result is {r:1.5f}'.format(r=result))
print('the result is {r1:10.5f}'.format(r1=result1))
print('the result is {r2:15.5f}'.format(r2=result2))

the result is 0.12870
the result is    0.19305
the result is         0.32175

In [22]:
# different method 'f string' 
# have a var and insert in brackets with var name nf in front of print
name = 'jose'
age = 3
race = 'mexican'
print(f' Hello, his name is {name} and he is {age}')

 Hello, his name is jose and he is 3

In [2]:
mylist = ['strong', 100, 25]
len(mylist)

3

In [4]:
mylist1 = ['one','two','three']
#mylist[0]
mylist[1:]
mylist1[1:]

['two', 'three']

In [ ]:
mylist.#hit tab then you can see all the funstions for that var

In [39]:
mylist2 = ['four','five']
newlist = mylist1 + mylist2
print(newlist)

['one', 'two', 'three', 'four', 'five']

In [40]:
newlist[0] = 'ONE'
newlist

['ONE', 'two', 'three', 'four', 'five']

In [41]:
newlist.append('six')
newlist

['ONE', 'two', 'three', 'four', 'five', 'six']

In [42]:
# will change list but not save make new var
# can pass index threw .pop() to get certain vals
# .sort() .reverse() meathods to look into

popped = newlist.pop()

In [43]:
newlist

['ONE', 'two', 'three', 'four', 'five']

In [45]:
popped

'six'

In [46]:
# dictionaries
mydict = {'key1':'value1','key2':'value2'}

In [47]:
mydict

{'key1': 'value1', 'key2': 'value2'}

In [49]:
mydict['key1']

'value1'

In [52]:
prices = {'apple':.99,'oranges':1.99,'milk':3.49}

In [53]:
prices['apple']

0.99

In [54]:
# how to add to dict
prices['mango']=1.99

In [55]:
prices

{'apple': 0.99, 'oranges': 1.99, 'milk': 3.49, 'mango': 1.99}

In [56]:
# how to rewrite or update values
# example prices drop on apples
# same key just input different value
prices['apple']=.50

In [58]:
prices.keys()

dict_keys(['apple', 'oranges', 'milk', 'mango'])

In [59]:
prices.values()

dict_values([0.5, 1.99, 3.49, 1.99])

In [61]:
t=('a','b','a')
t.count('a')

2

In [62]:
# index shows the first time it appears in the tupple
t.index('a')

0

In [73]:
# sets are unordered
# sets are good for unique values only can have one var the same 
myset = set()
myset.add(1)
myset.add(2)

In [65]:
myset.add(1)
myset

{1, 2}

In [70]:
mylist4=[1,2,3,1,2,1,2,1,3,2,3,3]

In [72]:
set(mylist4)
# only returns unique values

{1, 2, 3}

In [81]:
# can assign None to var for true false if you dont want an error
b = None

In [3]:
%%writefile myfile.txt
hello this is a new text file
this is the second line
and this only works for jupiter notebook
# needs to be in the first line of the code block becuase it will error out

Writing myfile.txt

In [4]:
# no error becuase file is here in this direct.
# need to make sure to close so you dont get errors
myfile = open('myfile.txt')
# myfile.close()

In [5]:
# error because file isnt located here 
# or becuase the the file is spelled wrong or at a different loaction then jupiter notbook
myfile = open*('myfile1.txt')

TypeError: can't multiply sequence by non-int of type 'builtin_function_or_method'

In [8]:
myfile.read()
# \n means new line 
#if you want to read line again you need to reset cursor

'hello this is a new text file\nthis is the second line\nand this only works for jupiter notebook\n'

In [10]:
myfile.read()

''

In [17]:
myfile.seek(0)

0

In [13]:
myfile.read()

'hello this is a new text file\nthis is the second line\nand this only works for jupiter notebook\n'

In [18]:
myfile.readlines()
#makes everyline in the text file seperated and then you can loop or even index them
# need to seek aswell inorder to properly start from beggining

['hello this is a new text file\n',
 'this is the second line\n',
 'and this only works for jupiter notebook\n']

In [19]:
pwd

'/Users/paulavalos/Desktop/Python'

In [20]:
myfile.close()
#closed file in order to try different statement

In [39]:
# new statement for better opening files without having to close
with open('myfile.txt') as myfile1:
    text = myfile1.readlines()

In [40]:
x = []
for lines in text:
    x.append(lines)

In [41]:
x

['hello this is a new text file\n',
 'this is the second line\n',
 'and this only works for jupiter notebook\n',
 'this is how to add another line to a txt file']

In [42]:
with open('myfile.txt',mode='r') as p:
    print(p.read())

hello this is a new text file
this is the second line
and this only works for jupiter notebook
this is how to add another line to a txt file

In [43]:
# appends to a txt file
with open('myfile.txt',mode='a') as p:
    p.write('this is how to add another line to a txt file')

In [44]:
with open('myfile.txt',mode='r') as p:
    print(p.read())

hello this is a new text file
this is the second line
and this only works for jupiter notebook
this is how to add another line to a txt filethis is how to add another line to a txt file

In [45]:
# writes to a file or creates a new one if not already made
with open('cfile.txt',mode='w') as p1:
    p1.write('just created a new txt file')

In [46]:
with open('cfile.txt',mode='r') as p:
    print(p.read())

just created a new txt file

In [48]:
#exponents 
100 ** .5

10.0

In [49]:
10 ** 2

100

In [54]:
s= 'hello'
s[::-1]
# [START:END:STEP SIZE]

'olleh'

In [ ]:
# 2 methods to sort list sorted(var) and var.sort()

In [56]:
# dont need to check if hungry == to true becuase it is already a boolean var.
hungry = False
if hungry:
    print('im hungry')
else:
    print('im not hungry')

im not hungry

In [59]:
loc = 'Auto Shop'
if loc == 'Auto Shop':
    print('this is an auto shop')
elif loc == 'bank':
    print('we are a bank')
else:
    print('loc is nothing that i know')

this is an auto shop

In [66]:
mylist = [1,2,3,4,5,6,7,8,9]

In [63]:
for nums in mylist:
    if nums % 2 == 0:
        print(nums)
    else:
        print(f' {nums} is not an even number')

 1 is not an even number
2
 3 is not an even number
4
 5 is not an even number
6
 7 is not an even number
8
 9 is not an even number

In [70]:
listsum = 0
for num in mylist:
    listsum += num
print(listsum)

45

In [71]:
mystring = 'hello world'
for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [72]:
#can print of assign task to be done within the for loop exp
# _ after for if you tend to not use that var in the for loop
for _ in mystring:
    print('i will not type in class')

i will not type in class
i will not type in class
i will not type in class
i will not type in class
i will not type in class
i will not type in class
i will not type in class
i will not type in class
i will not type in class
i will not type in class
i will not type in class

In [75]:
#tuple unpacking
mylist1 = [(1,2),(3,4),(5,6),(7,8)]

In [76]:
len(mylist1)

4

In [77]:
for items in mylist1:
    print(items)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [78]:
for a,b in mylist1:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [79]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [81]:
# unpacking lets you access the inner list or vars as long as you identify them ex. a,b,c
for a,b,c in mylist:
    print(a,b)

1 2
4 5
7 8

In [89]:
# iterate threw a dictionary will only iterate threw keys if you want values need to add var.items():
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [100]:
# while loops
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [101]:
# pass will be a place holder in order to not have an error son you can finish your code
x = [1,2,3]
for item in x:
    pass
print('if we dont pass the error will stop this message')

if we dont pass the error will stop this message

In [102]:
# continue will tell code to pass and go back to the closest loop.
mystring = 'pablo'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

p
a
b
l
o

In [103]:
# break will stop after that is met
mystring = 'pablo'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

p

In [104]:
x = 0
while x <5:
    print(x)
    x += 1

0
1
2
3
4

In [105]:
x = 0
while x <5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [106]:
#range
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [109]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [110]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [111]:
# strings indexing [start:end:step size]

# for in range loops (start,end,step size)

In [112]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [114]:
count = 0

for letter in 'abcde':
    print(f'at index {count} the letter is {letter}')
    count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [115]:
# enumerate will take in a iterable object and return the index and letter
word = 'abcde'

for index,letter in enumerate(word):
    print(letter)
    print(index)

a
0
b
1
c
2
d
3
e
4

In [116]:
# you can zip multi. list vars and iterate throught them
# if one list has more data it will only match the same for each list
# exp mylist[1,2,3,4,5,6] will only use 1,2,3 becuase of other list
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [117]:
# to check if something is in a list in*
# can also do with numbers and with strings alos with dict. and keys
x = [1,2,3]
"x" in x

False

In [119]:
x = ['x','d','f']
'x' in x

True

In [123]:
# can also check with d.keys
d = {'mykey':345}

345 in d.values()

True

In [125]:
mylist = [10,20,30,40]
min(mylist)

10

In [126]:
max(mylist)

40

In [127]:
from random import shuffle

In [128]:
mylist=[1,2,3,4,5,6,7]

In [130]:
# if the function is in place then it doesnt return anything just does it to the var.
shuffle(mylist)
mylist

[4, 3, 1, 6, 2, 7, 5]

In [131]:
from random import randint

In [132]:
randint(1,100)

23

In [135]:
username = int(input('please enter your name '))

please enter your name 30

In [136]:
type(username)

int

In [151]:
#list comprehensions
mystring = 'hello'

In [152]:
list = []
for letter in mystring:
    list.append(letter)
print(list)

['h', 'e', 'l', 'l', 'o']

In [153]:
# flaten out for loop

list1 =[letter for letter in mystring]
list1

['h', 'e', 'l', 'l', 'o']

In [142]:
scores = [1,2,3,4,5,6,7,8,9]
mylist2 = [num for num in scores]
mylist2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
st = 'print only the words that start with s in this sentence'

for word in st.split():
    if word[0]== 's':
        print(word)

start
s
sentence

In [7]:
mylist=[x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [15]:
mylist = [num for num in range(1,51) if num%3 == 0]
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [10]:
st = 'print every word in this sentence that has an even number of letters'

for word in st.split():
    if len(word) %2 == 0:
        print(f'{word} is even')

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
number is even
of is even

In [16]:
for num in range(1,101):
    if num %3 == 0 and num %5 == 0:
        print('FizzBuzz')
    elif num %3 == 0:
        print('Fizz')
    elif num %5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [156]:
# must be able to meet the index since a is only at [0] then it will show error
st = 'create a list of the first letters of every word in this string'
newlist = [letter[0] for letter in st.split()]
newlist

['r', 't', 'i', 'f', 'h', 'i', 'e', 'f', 'v', 'o', 'n', 'h', 't']

In [14]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [17]:
newlist = list(range(0,101,20))

In [18]:
newlist

[0, 20, 40, 60, 80, 100]

In [19]:
# functions
# def name_of_function(): return helps save a value

def say_hello():
    print('hello')

In [20]:
say_hello()

hello

In [22]:
def say_hello(name):
    print(f'hello {name}')

In [24]:
say_hello('paul')

hello paul

In [25]:
def print_result(a,b):
    print(a+b)

In [34]:
# return doesnt need (   )
def return_result(a,b):
    return a+b

In [35]:
print_result(5,10)

15

In [36]:
result = return_result(5,10)

In [37]:
result

15

In [38]:
def is_even(number):
    result = number % 2 == 0
    return result

# dont need to save result if this is just a boolean check

In [39]:
is_even(31)

False

In [40]:
is_even(32)

True

In [41]:
def even(numlist):
    for num in numlist:
        if num %2 == 0:
            return True
        else:
            pass
    return False

In [43]:
even([1,3,5,7,9])

In [44]:
even([1,2,3,4,5,6,7])

True

In [45]:
# saving results to a list
elist = []
def even(numlist):
    for num in numlist:
        if num %2 == 0:
            elist.append(num)
        else:
            pass
    return elist

In [47]:
even([1,2,3,4,5,6,7,8])

[2, 4, 6, 8]

In [48]:
stock_prices = [('apple',200),('goog',400),('msft',100)]

In [50]:
for item in stock_prices:
    print(item)

('apple', 200)
('goog', 400)
('msft', 100)

In [51]:
for item,price in stock_prices:
    print(item)
    print(price)

apple
200
goog
400
msft
100

In [57]:
work_hours = [('abby',1000),('billy',400),('cassie',800)]

In [58]:
def checks(work_hours):
    
    currentmax = 0
    eofthemonth = ''
    
    for emp,hours in work_hours:
        if hours > currentmax:
            currentmax = hours
            eofthemonth = emp
        else:
            pass
    
    return (eofthemonth,currentmax)

In [59]:
checks(work_hours)

('abby', 1000)

In [60]:
rlist = [1,2,3,4,5,6,7]
from random import shuffle

In [61]:
shuffle(rlist)

In [62]:
rlist

[1, 4, 2, 3, 6, 5, 7]

In [63]:
# cup game
def shuf(mylist):
    shuffle(mylist)
    return mylist

In [64]:
result = shuf(rlist)

In [65]:
result

[2, 3, 7, 4, 5, 1, 6]

In [66]:
mlist = ['','o','']

In [76]:
def guess():
    choice = ''
    while choice not in ['0','1','2']:
        choice = input('please pick a cup: 0, 1, or 2')
    return int(choice)

In [78]:
playerguess = guess()

please pick a cup: 0, 1, or 24
please pick a cup: 0, 1, or 21

In [80]:
playerguess

1

In [82]:
def check_guess(shuf,guess):
    if shuf[guess == 'o']:
        print('correct')
    else:
        print('wrong')
        print(shuf)

In [84]:
# set up list
mlist = ['','o','']

# shuffle list
shuflist = shuf(mlist)

# have user guess
playerguess = guess()

# check if he is correct
check_guess(shuflist,playerguess)

please pick a cup: 0, 1, or 23
please pick a cup: 0, 1, or 21
wrong
['', '', 'o']

In [85]:
def myfunc(a,b):
    return sum((a,b))*.05

In [86]:
myfunc(10,10)

1.0

In [87]:
# just in case you need make more arguments
myfunc(12,12,12)

TypeError: myfunc() takes 2 positional arguments but 3 were given

In [171]:
# * is the reason for assigning multi arguemnts but you can name var whatever you like.
# args must have a 0 in front of .05
# args takes all arguments and places them inside as a tuple
def myfunc(*args):
    return sum(args) * 0.05

In [172]:
myfunc(10,10,10)

1.5

In [96]:
# key word arguments man thing is double ** can be named anything
# how to search in dictionaries
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print(' i didnt find any fruit here')

In [97]:
myfunc(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [106]:
# must stay in the order if you had args after kwargs it will give error
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [107]:
myfunc(10,20,30,fruit = 'orange', food = 'eggs',animal = 'dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [132]:
# functions #9 problem kinda tricky
def myfunc(*args):
    list1 = []
    for numbers in args:
            if numbers % 2 == 0:
                list1.append(numbers)
    return list1

In [134]:
myfunc(1,4,6,8)

[4, 6, 8]

In [153]:
def myfunc(string):
    new = []
    counter = 1
    for letter in string:
        if counter %2 == 0:
            new.append(letter.upper())
            counter += 1
        else:
            new.append(letter.lower())
            counter += 1
    return new

In [155]:
myfunc('HELLO')

['h', 'E', 'l', 'L', 'o']

In [176]:
# can use min and max to return 
def one(a,b):
    if a and b %2 == 0:
        if a > b:
            return b
        else:
            return a
    else:
        if a > b:
            return a
        else:
            return b

In [184]:
one(7,5)

7

In [192]:
# using min and max
def one(a,b):
    if a and b %2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [193]:
one(2,8)

2

In [97]:
def samel(string):
    newword = string.split()
    if newword[0][0] == newword[1][0]:
        return True
    else:
        return False
        
# not working correctly
# can not get index of the words because it is a squence
# best way so far easy no for loop

In [99]:
samel('paul avalos')

False

In [219]:
def same2(string):
    wlist = []
    for words in string.split():
        wlist.append(words)
    if wlist[0][0] == wlist[1][0]:
        return True
    else:
        return False
    
    
# shorter way

In [223]:
same2('eaul aas')

False

In [230]:
# can add to calls to same line
def same2(string):
    wlist = string.lower().split()
    return wlist[0][0] == wlist[1][0]

In [231]:
same2('aaul avalos')

True

In [234]:
def true20(n1,n2):
    if n1 + n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [237]:
true20(1,5)

False

In [247]:
def cap(name):
    firstl = name[0]
    middle = name[1:3]
    secondl = name[3]
    end = name[4:]
    firstl = firstl.upper()
    secondl = secondl.upper()
    return firstl+ middle + secondl + end

# quicker way

In [248]:
cap('paulavalos')

'PauLavalos'

In [249]:
# can return .upper and .lower on return lines
def cap(name):
    firstl = name[0]
    middle = name[1:3]
    secondl = name[3]
    end = name[4:]

    return firstl.upper() + middle + secondl.upper() + end

In [250]:
cap('iamcute')

'IamCute'

In [254]:
# can return funtions on the return line
def capp(name):
    first = name[0:3]
    second = name[3:]
    return first.capitalize() + second.capitalize()

In [255]:
capp('paulavalos')

'PauLavalos'

In [13]:
# can crate new list using old list and indexing
def rword(text):
    wordlist = text.split()
    rwordlist = wordlist[::-1]
    return ' '.join(rwordlist)

# ' ' leave one empty space so words have a space between and form a new string

In [14]:
rword('hello paul how are you doing this morning')

'morning this doing you are how paul hello'

In [29]:
def close(n):
    if n >= 90 and n <= 110 or n >= 190 and n <= 210:
        return True
    else:
        return False

In [30]:
close(209)

True

In [28]:
# shorter way
def closer(n):
    return n >= 90 and n <= 110 or n >= 190 and n <= 210

In [31]:
closer(209)

True

In [37]:
def has33(nums):
    for n in range(0,len(nums)-1):
        if nums[n] == 3 and nums[n+1] == 3:
            return True
    return False
# reason for return to match with for is becuase we need to run threw all the nums

In [41]:
has33([1,2,9,3,5,6,7])

False

In [46]:
# Pauls way
def three(text):
    threeword = [letter * 3 for letter in text]
    return ''.join(threeword)

In [48]:
three('hello')

'hhheeellllllooo'

In [49]:
# class way 
def paper(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [65]:
# sum takes at most 2 args needs to have in a list to add them
# if you dont want to pass in the list ex. sum([a,b,c]) you could use a+b+c
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return 'Bust'

In [70]:
blackjack(9,9,11)

19

In [75]:
# really didnt understand this one
def summer(arr):
    
    # total to keep track of the final count
    total = 0
    # add a switch for on and off
    add = True
    
    # run threw all the numbers in the arr
    for num in arr:
        # using switch on
        while add:
            # checking all nums that aren't 6 and adding them
            if num !=6:
                total += num
                # break free from the while loop
                break
            # the num is equal to 6 cancels the top loop and proceeds to while not add
            else:
                add = False
        # second part checking for the 9
        while not add:
            #checking for a 9 and if no 9 break out
            if num !=9:
                break
            else:
                add = True
                break
    return total

summer([4,5,6,7,8,9])

In [84]:
def spy(nums):
    win = [0,0,7,'win']
    for n in nums:
        if n == win[0]:
            win.pop(0)
    return len(win) == 1

In [87]:
spy([1,7,3,4,0,0,])

False

In [ ]:
def primes(num):
    # check for 0 or 1 input
    if num < 2:
        return 0
    # list to store prime nums
    primes = [2]
    # counter going up to the inpit num
    x = 3
    
    while x <= num:
        
        for y in range(3,x,2)
        
        # stopping for now dont really get will time stamp 7:45

In [116]:
# lamda, map, and filer

def square(num):
    return num**2

In [117]:
mynums = [1,2,3,4,5]

In [118]:
for item in map(square,mynums):
    print(item)

1
4
9
16
25

In [120]:
# map helps run a list in the function for each var in the list
# need to have 2 paramaters first being the function and second being the list
# no need to call the function () just plug into map(,)
list(map(square,mynums))

[1, 4, 9, 16, 25]

In [121]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'Even'
    else:
        return mystring[0]

In [122]:
names = ['andy','eve','sally']

In [125]:
list(map(splicer,names))

['Even', 'e', 's']

In [126]:
def checkeven(n):
    return n %2==0

In [127]:
mynums = [1,2,3,4,5,6]

In [130]:
# filter function needs to return a boolean
# can return as a list or print
list(filter(checkeven,mynums))

[2, 4, 6]

In [131]:
for n in filter(checkeven,mynums):
    print(n)

2
4
6

In [139]:
# lamda expressions dont need to be named one time use
# also this is the same  => def square(): return num ** 2
# you can use in map and filter if you only want certain values

square = lambda num : num**2

In [140]:
square(2)

4

In [141]:
# num for num ** 2 for each element in mynums
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [142]:
# num for each element that meets the num %2 == 0 in mynums list
list(filter(lambda num : num %2 ==0, mynums))

[2, 4, 6]

In [143]:
names

['andy', 'eve', 'sally']

In [146]:
# n for each element at the n[0] indexing
list(map(lambda n : n[0],names))

['a', 'e', 's']

In [148]:
list(map(lambda x :x[::-1],names))

['ydna', 'eve', 'yllas']

In [157]:
# scope
x = 25

def printer():
    x = 50
    return x

In [158]:
print(x)

25

In [160]:
print(printer())

50

In [162]:
# paul is global and last to be used
name = 'paul'
def greet():
    
    # enclosing 2nd level to check for name
    name = 'sammy'
    
    def hello():
        #1st level to check for name
        print(f'hello {name}')
        
    hello()

In [163]:
# when calling greet function it is setting name to sammie and then creating and after running the funtion hello
greet()

hello sammy

In [166]:
# checking if the num is in the rnage of the low and high but +1 to include the high num
# takes 3 parameters the num the low and the high +1 to include its self
def rancheck(num,low,high):
    return num in range(low,high+1)

In [167]:
rancheck(5,2,7)

True

In [170]:
# using .isupper() and .islower() both boolean
def uplow(string):
    lower = 0
    upper = 0
    for letter in string:
        if letter.isupper():
            upper += 1
        elif letter.islower():
            lower += 1
        else:
            pass
    print(f'Original String : {string}')
    print(f'Lowercase count is : {lower}')
    print(f'Uppercase count is : {upper}')

In [174]:
string = 'Hello, Mr. Rogers, How are you this fine tuesday?'
uplow(string)

Original String : Hello, Mr. Rogers, How are you this fine tuesday?
Lowercase count is : 33
Uppercase count is : 4

In [176]:
# same function with a dictionary
# for loop just add the key calls to upper and lower
# also on f string sub the values for the dict. calls
# side not when using f strings need to use "" for dict. calls to not get error
def uplow2(string):
    d = {'upper':0,'lower':0}
   
    for letter in string:
        if letter.isupper():
            d['upper'] += 1
        elif letter.islower():
            d['lower'] += 1
        else:
            pass
    print(f'Original String : {string}')
    print(f'Lowercase count is : {d["lower"]}')
    print(f'Uppercase count is : {d["upper"]}')

In [180]:
def ulist(lists):
    alist = []
    for item in lists:
        if item in alist:
            pass
        else:
            alist.append(item)
    return alist

In [181]:
ulist([1,1,1,2,3,3,4,4,4,5,5,])

[1, 2, 3, 4, 5]

In [182]:
#really easy way of doing this is set 
def ulist1(lists):
    return set(lists)

In [183]:
ulist1([1,1,1,2,2,2,3,3,3,4,4,5,5,])

{1, 2, 3, 4, 5}

In [196]:
def multi(blist):
    total = 1
    for nums in blist:
        total = total * nums
    return total

In [206]:
# can also do list comp
blist = [1,2,3,4,5,6,6,6,7,7,8,8]
nums = [nums for nums in blist]

In [198]:
multi([1,2,3,4,10])

240

In [203]:
# using replace to tamke out the empty spaces in the string
def pali(string):
    s = string.replace(' ','')
    return s == s[::-1]

In [204]:
pali('paul avalos')

False

In [207]:
pali('race car')

True

In [211]:
# new problem 58: 17min
# video way of completing problem
import string
def alpha(str1, alpha=string.ascii_lowercase):
    
    alphaset = set(alphabet)

    print(alphaset)
    
    str1=str1.replace(' ', '')
    
    str1=set(str1)
    
    return str1 == alphaset

In [230]:
# my way to complete same problem
# lets go did it myself fuk boi

def myway(string):
    alphaset = set('abcdefghijklmnopqrstuvwxyz')
    
    string1 = string.replace(' ','')
    string2 = set(string1)
    
    print(string2)
    return string2 == alphaset

In [231]:
myway('i wanna go home today')

{'i', 'n', 'd', 't', 'e', 'y', 'a', 'm', 'w', 'g', 'h', 'o'}

False

In [232]:
myway('the quick brown fox jumps over the lazy dog')

{'q', 'z', 'r', 'v', 'w', 'g', 'j', 'p', 'n', 'd', 'b', 'c', 'a', 'f', 'u', 'm', 'k', 'x', 's', 't', 'e', 'y', 'o', 'i', 'l', 'h'}

True

In [233]:
# milestone 1 practice
def game():
    print('   |  |  |   ')
    print('-------------')
    print('   |  |  |   ')
    print('-------------')
    print('   |  |  |   ')

In [234]:
game()

   |  |  |
-------------
   |  |  |
-------------
   |  |  |

In [235]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [238]:
example = [1,2,3]
display(example,example,example)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [239]:
# seting the row vars so that way they can be changed

row1 = [' ',' ',' ']
row2 = [' ',' ',' ']
row3 = [' ',' ',' ']

display(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [240]:
row1[2] = 'x'

In [241]:
display(row1,row2,row3)

[' ', ' ', 'x']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [1]:
# validating user input using .isdigit() which checks if all items in string are digits
def val():
    
    # making. vars to compare with and keep track
    choice = 'wrong'
    nums = [0,1,2,3,4,5,6,7,8,9]
    range1 = False
    
    # two conditions to check to make sure is digit and 0-10
    while choice.isdigit() == False or range1 == False:
        choice = input('Please enter a number 0-10: ')
        
        # digit check to ether continue or stop while loop
        if choice.isdigit() == False:
            print('Please enter a vaild number')
        
        # range check to ether continue or stop while loop
        if choice.isdigit() == True:
            if int(choice) in nums:
                range1 = True
            else:
                print('You are out of the range 0-10')
                range1 == False
    
        
    return int(choice)

In [2]:
val()

Please enter a number 0-10: two
Please enter a vaild number
Please enter a number 0-10: 34
You are out of the range 0-10
Please enter a number 0-10: 2

2

In [3]:
gamelist = [0,1,2]

In [4]:
# displaying the game itself
def display_game(gamelist):
    print('Here is the current')
    print(gamelist)

In [6]:
display_game(gamelist)

Here is the current
[0, 1, 2]

In [7]:
# choosing the position to be replaced
def position_choice():
    choice = 'wrong'
    
    while choice not in ['0','1','2']:
        
        choice = input('Pick a position (0,1,2) : ')
        
        if choice not in ['0','1','2']:
            print('Sorry invalid choice!')
            
    return int(choice)

In [9]:
position_choice()

Pick a position (0,1,2) : 3
Sorry invalid choice!
Pick a position (0,1,2) : 12
Sorry invalid choice!
Pick a position (0,1,2) : cv
Sorry invalid choice!
Pick a position (0,1,2) : 2

2

In [10]:
def replacement_choice(game_list,position):
    
    user_placement = input('Type of string to place a position')
    
    gamelist[position] = user_placement
    
    return gamelist

In [11]:
replacement_choice(gamelist,1)

Type of string to place a positiontest

[0, 'test', 2]

In [19]:
def gameon_choice():
    choice = 'wrong'
    
    while choice not in ['y','n']:
        
        choice = input('Would you like to keep playing y or n?')
        
        if choice not in ['y','n']:
            print('Sorry invalid choice!')
            
    if choice == 'y':
        return True
    else:
        return False

In [20]:
gameon_choice()

Would you like to keep playing y or n?h
Sorry invalid choice!
Would you like to keep playing y or n?23
Sorry invalid choice!
Would you like to keep playing y or n?y

True

In [22]:
game_on = True
gamelist = [0,1,2]

# can also say while game_on: becuase it is already a boolean
while game_on == True:
    # showing the game
    display_game(gamelist)
    # ask for which place will be replaced
    position = position_choice()
    # grab the item in which you want to be replaced and replace it
    gamelist = replacement_choice(gamelist,position)
    # show bthe updated game list    
    display_game(gamelist)
    # ask to see if they want to continue the game
    game_on = gameon_choice()

Here is the current
[0, 1, 2]
Pick a position (0,1,2) : 1
Type of string to place a positionI like pizza
Here is the current
[0, 'I like pizza ', 2]
Would you like to keep playing y or n?y
Here is the current
[0, 'I like pizza ', 2]
Pick a position (0,1,2) : 2
Type of string to place a positioneasy peezee
Here is the current
[0, 'I like pizza ', 'easy peezee']
Would you like to keep playing y or n?n

In [1]:
from IPython.display import clear_output
def display_board(board):
    clear_output()
    print(board[7]+'|'+board[8]+'|'+board[9])
    print('-----')
    print(board[4]+'|'+board[5]+'|'+board[6])
    print('-----')
    print(board[1]+'|'+board[2]+'|'+board[3])

In [2]:
test_board = [' ']*10
print(test_board)
display_board(test_board)

 | |
-----
 | |
-----
 | |

In [3]:
def player_input():
    marker = ''
    
    '''
    output = (player 1 marker , player 2 marker)
    '''
    
    # making marker to keep track of wrong inputs and correct ones
    while marker != 'X' and marker != 'O':
        marker = input('Please choose your side X or O?').upper()
    
    
    # player sorting to be able to link choice with the player
    if marker == 'X':
        return ('X','O')
    else:
        return ('O','X')

In [4]:
# tupple unpacking to be able have two vars to be linked with the output of the function returning the tupple
player1_marker,player2_marker = player_input()

Please choose your side X or O?x

In [5]:
player1_marker

'X'

In [6]:
def place_marker(board,marker,position):
    board[position] = marker

In [7]:
place_marker(test_board,'x',7)
place_marker(test_board,'x',8)
place_marker(test_board,'0',9)


display_board(test_board)

x|x|0
-----
 | |
-----
 | |

In [8]:
def win_check(board,mark):

    return ((board[1] == board[2] == board[3] == mark) or
    (board[4] == board[5] == board[6] == mark) or
    (board[7] == board[8] == board[9] == mark) or
    (board[1] == board[4] == board[7] == mark) or
    (board[2] == board[5] == board[8] == mark) or
    (board[3] == board[6] == board[9] == mark) or
    (board[1] == board[5] == board[9] == mark) or
    (board[3] == board[5] == board[7] == mark))

In [9]:
win_check(test_board,'x')

False

In [ ]:
import random

def choose_first():
    flip = random.randint(0,1)
    
    if flip == 0:
        return "Player 1"
    else:
        return 'Player 2'

In [11]:
def space_check(board,position):
    
    return board[position] == ' '

In [12]:
def full_board_check(board):
    for i in range(1,10):
        if space_check(board,i):
            return False
    # true is board is full
    return True

In [13]:
def player_choice(board):
    position = 0
    
    while position not in [1,2,3,4,5,6,7,8,9] or not space_check(board,position):
        position = int(input('Please choose your position (1-9)'))
    return position

In [14]:
def replay():
    choice = input('Play again? Enter yes or no')
    
    return choice == "yes"

In [ ]:
print('Welcome to Tik Tac Toe')
# set up and runn entire game
while True:
    
    # set up board players and markers
    the_board = [' ']*10
    player1_marker,player2_marker = player_input()
    
    turn = choose_first()
    print(turn + ' will go first')
    
    # ask user if ready for game and set a while checker for running game
    play_game = input('Ready to play? y or n')
    
    if play_game == 'y':
        game_on = True
    else:
        game_on = False
        
    while game_on:
            
            # player one turn
        if turn == 'Player 1':
                
                # show board
            display_board(the_board)
                
                # choose a position
            position = player_choice(the_board)
                
                # place marker on the position
            place_marker(the_board,player1_marker,position)
                
                # check if they won with that last position
            if win_check(the_board,player1_marker):
                display_board(the_board)
                print('Player 1 has won!!')
                game_on == False
                    
            else:
                    # check for a tie
                if full_board_check(the_board):
                    display_board(the_board)
                    print('Tie Game!')
                    game_on == False
                else:
                    turn == 'Player 2'
                
                # if not tie or win goto next player
                
                
                
        else:
                # show the board
            display_board(the_board)
                
                # choose a position
            position = player_choice(the_board)
                
                # place marker on the position
            place_marker(the_board,player2_marker,position)
                
                # check if they won with that last position
            if win_check(the_board,player2_marker):
                display_board(the_board)
                print('Player 2 has won!!')
                game_on == False
                    
            else:
                if full_board_check(the_board):
                    display_board(the_board)
                    print('Tie Game!')
                    game_on == False
                else:
                    turn == 'Player 1'
                
    
    
    
    
    
    
    if not replay():
        break
    # break out of while true loop to stop game

X| |
-----
X| |
-----
X| |